/*************** Container ***************/
.login_container {
  height: 100vh;
}

.create_user_container {
  height: 100vh;
  padding: 0px 10vw 0px 10vw;
}

/*************** Grid ***************/
.login_grid {
  display: grid;
  grid-template-columns: 40vw auto;
  grid-template-rows: 100vh;
}

/*************** Login Img ***************/
.login_img {
  background-image: url("../../images/Login/login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*************** Login Flex ***************/
.create_user_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/*************** Form ***************/
.form_flex_item {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  text-align: left;
  width: 100%;
}

/*************** Inputs ***************/
.user_input_container {
  position: relative;
  width: 400px;
  height: 50px;
  overflow: hidden;
}

.form_label_container {
  position: absolute;
  top: 15px;
  left: 0%;
  z-index: 0;
}

.form_input_container {
  width: 90%;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 0px;
}

.form_input_container input {
  width: 98%;
  height: 30px;
  border-style: none;
  border-bottom: 1px grey solid;
  background-color: transparent;
}

.form_input_container input:focus {
  outline: none;
}

.form_input_line {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #7ae0e0;
  top: 28px;
  left: -100%;
}

/*************** Change the white to any color ***************/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
