/*************** Location Grid / Flex ***************/
.location_container {
  height: 100vh;
  background-color: white;
}

.location_grid {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: "headerLeft headerMid headerRight" "left mid right";
}

.grid_header {
  grid-area: headerMid;
  font-family: greatWishes;
  font-size: 30px;
}

.grid_middle {
  grid-area: mid;
  background-color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

.flex_item {
  width: 600px;
  height: 600px;
}

/******************** Flex Item ********************/
@font-face {
  font-family: greatWishes;
  src: url("../../fonts/GreatWishes.otf");
}

.location_title {
  font-family: greatWishes;
  font-size: 40px;
}

.img_container {
  position: relative;
  overflow: hidden;
}

.location_img {
  width: 600px;
  height: 455px;
}

/******************** Img Overlay ********************/
.img_overlay {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 600px;
  height: 455px;
  background-color: #7ae0e0;
  opacity: 0.8;
}

.overlay_flex_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay_flex_item button {
  color: black;
  font-family: greatWishes;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
}

.overlay_flex_item button:active,
button:focus {
  outline-style: none;
}

/******************** Location Select ********************/
.location_select_container {
  height: 100%;
  width: 100vw;
  background-color: white;
  opacity: 0;
}

.location_select_grid {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  grid-template-areas: "left right";
}

.location_select_background img {
  width: 100%;
  height: 100%;
}

.location_select_info_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vw 5vh 10vw;
}

.location_select_info_flex_item h1 {
  font-family: GreatWishes;
  font-size: 60px;
}

.back_button {
  background-color: #7ae0e0;
  font-family: greatWishes;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
}
