/******************** Container ********************/
.landing_container {
  height: 100vh;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  background-image: url("../../images/Landing/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}

/******************** Grid ********************/
.landing_grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 10vw 60vw 10vw;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: "tl tm tr" "ml mm mr" "bl bm br";
  color: white;
}

/******************** Title ********************/
.title {
  grid-area: mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@font-face {
  font-family: greatWishes;
  src: url("../../fonts/GreatWishes.otf");
}

.title h1 {
  font-size: 200px;
  font-family: greatWishes;
  text-shadow: 0px 10px 20px #191919;
  letter-spacing: 15px;
}

/******************** Social ********************/
.social {
  grid-area: bm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social img {
  padding: 0px 20px 0px 20px;
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(156deg)
    brightness(104%) contrast(103%);
  opacity: 0.5;
}

/******************** Nav Arrow ********************/
.nav {
  grid-area: tr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_arrow {
  font-size: 50px;
  color: #7ae0e0;
}
