/***** Admin Panel *****/
.admin_panel {
  height: 100vh;
  width: 100vw;
  background-color: #7ae0e0;
}

@font-face {
  font-family: greatWishes;
  src: url("../../fonts/GreatWishes.otf");
}

.ap_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  grid-template-areas: "nav content";
}

/***** Admin Nav *****/
.ap_nav_container {
  grid-area: nav;
  width: 100%;
  height: 100%;
}

.ap_nav_wrapper {
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-areas: "title" "links" "logout";
}

/***** Admin Nav Title *****/
.ap_nav_title {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.ap_nav_wrapper h1 {
  grid-area: title;
  font-family: greatWishes;
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
}

/***** Admin Nav Links *****/
.ap_nav_flex {
  grid-area: links;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.ap_nav_flex_item button {
  font-size: 30px;
  color: #565656;
  border: 0px;
  background-color: transparent;
  text-transform: uppercase;
}

/***** Admin Nav Button *****/
.ap_nav_logout {
  grid-area: logout;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ap_nav_logout_flex_item button {
  font-family: greatwishes;
  font-size: 15px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/***** Admin Content *****/
.ap_content_container {
  grid-area: content;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: -15px 0 10px rgba(0, 0, 0, 0.15);
}

/***** Admin Content Wrapper *****/
.ap_content_wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 15vh 15vh auto;
  grid-template-areas: "selector" "add" "items";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px;
}

/***** Admin Content Selector *****/
.ap_location_selector_flex {
  grid-area: selector;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.ap_location_select_outter {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ap_selector select {
  width: 300px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  border: #cbcbcb 1px solid;
  padding: 10px;
}

.ap_selector select:focus {
  border-color: #7ae0e0;
  outline: none;
}

.ap_selector select option {
  font-size: 15px;
}

.ap_selector select option:focus {
  font-size: 15px;
}

.ap_trash_button {
  background: transparent;
  border: none;
}

.ap_trash_icon {
  filter: invert(27%) sepia(48%) saturate(3551%) hue-rotate(345deg)
    brightness(87%) contrast(92%);
}

/***** Picture Upload Input *****/
.ap_pictue_upload_flex {
  grid-area: add;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.ap_picture_upload_outter {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/***** Picture Delete *****/
.ap_picture_delete_flex {
  grid-area: items;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ap_picture_delete_outter {
  width: 100%;
  height: 100%;
}

.ap_picture_item {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "picture info social";
}

.ap_picture_item_img {
  width: 100px;
  height: 100px;
}
